{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Редактирование турнира{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <h1>Редактирование турнира</h1>
      </div>
      <div class="col-12 mb-4">
        <a href="{% url 'contests_index' %}" class="btn btn-primary">К списку турниров</a>
      </div>
      <div id="app" class="col-12">
        <div id="form-error" class="alert alert-danger" v-show="error.length">
          [[ error ]]
          <button type="button" class="close" @click.prevent="clearNotifications" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card">
          <div class="card-body">
            <form id="contest-edit-form" @submit.prevent="submitForm" action="{% url 'contests_edit' contest_id=contest.pk %}" method="post" enctype="multipart/form-data">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block additional_js %}
  <script src="{% static 'contests/js/edit.js' %}" defer></script>
{% endblock %}