{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Список турниров{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <h1>Список турниров</h1>
      </div>
      <div class="col-12 mb-4">
        <div>
          <a href="{% url 'problems_index' %}" class="btn btn-primary float-left">К списку задач</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block additional_js %}
  <script src="{% static 'contests/js/script.js' %}" defer></script>
{% endblock %}
