{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Мой профиль{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <h1>Привет, {% if user.first_name %} {{ user.first_name }} {% else %} {{ user.username }}{% endif %}!</h1>
      </div>
      <div class="col-sm-6">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" colspan="2">Ваши учетные данные</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Логин</th>
              <td>{{ user.username }}</td>
            </tr>
            <tr>
              <th scope="row">Имя</th>
              <td>{{ user.first_name }}</td>
            </tr>
            <tr>
              <th scope="row">Фамилия</th>
              <td>{{ user.last_name }}</td>
            </tr>
            <tr>
              <th scope="row">E-mail</th>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <th scope="row">Дата регистрации</th>
              <td>{{ user.date_joined }}</td>
            </tr>
            <tr>
              <th scope="row">Роль</th>
              <td>{% if user.is_staff or user.is_superuser %}Администратор{% else %}Пользователь{% endif %}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <div class="card float-right">
          <div class="card-body">
            <h5 class="card-title">Олимпиадные турниры в системе</h5>
            <p class="card-text">Зарегистрирован на: {{ user.contest_users.count }}</p>
            <p class="card-text">Всего доступно: {{ count_contests }}</p>
            <a href="{% url 'contests_index' %}" class="btn btn-primary">Открыть список турниров</a>
            <a href="{% url 'problems_index' %}" class="btn btn-primary">Открыть список задач</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block additional_js %}
  <script src="{% static 'main/js/script.js' %}" defer></script>
{% endblock %}
