{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Main meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}"/>
    <!-- Additional meta tags -->
    {% block additional_meta %}{% endblock %}
    <!-- Bootstrap required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/custom.css' %}">
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'base/icons/favicon.ico' %}" />
    <!-- Additional CSS -->
    {% block additional_css %}{% endblock %}
    <title>{% block title %}Contester{% endblock %}</title>
  </head>
  <body>
    <!-- Header -->
    {% block header %} {% include 'layouts/header.html' %} {% endblock %}
    <!-- Main content section -->
    <main class="flex-shrink-0" role="main">
        {% block content %}{% endblock %}
    </main>
    <!-- Footer -->
    {% block footer %} {% include 'layouts/footer.html' %} {% endblock %}
    <!-- Metrika -->
    {% block metricka %} {% include 'includes/metrika.html' %} {% endblock %}

    <!-- Bootstrap JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <!-- Select2 RUS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/i18n/ru.js"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <!-- Vue validate -->
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <!-- Snippets object -->
    <script src="{% static 'base/js/snippets.js' %}" defer></script>
    <!-- Vue settings -->
    <script src="{% static 'base/js/settings.js' %}" defer></script>
    <!-- Additional JS -->
    {% block additional_js %}{% endblock %}
  </body>
</html>