{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container">
  <div id="registration-app">
    <div class="row">
      <div class="col-12">
        <h1>Регистрация</h1>
      </div>
      <div class="col-6">
        <div class="alert alert-danger" v-show="error.length">[[ error ]]</div>
        <form id="registration-form" @submit.prevent="submitForm" action="{% url 'registration' %}" method="post" enctype="multipart/form-data" novalidate>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block additional_js %}
  <script src="{% static 'app_auth/js/script.js' %}" defer></script>
{% endblock %}